
<div>
    <p><a href="/">Boilerplate</a></p>
</div>
<div>
    <ul>
        <li>
            <p>Example Content</p>
            <ul>
                <li><a href="/">Default Content</a></li>
            </ul>
        </li>
        <li>
            <p>Getting Started</p>
            <ul>
                <li><a href="/">Build your first site</a></li>
                <li><a href="/">Preview and publish content</a></li>
                <li><a href="/">Organize your content</a></li>
            </ul>
        </li>
        <li>
            <p>Documentation</p>
            <ul>
                <li><a href="/">Architecture</a></li>
                <li><a href="/">Sidekick</a></li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <p><span class="icon icon-search"></span></p>
    <div class="search-config">
        <div>
            <div>searchApiUrl</div>
            <div>http://edge.127.0.0.1.nip.io/search/pages</div>
        </div>
        <div>
            <div>searchPageUrl</div>
            <div>/search-results.html</div>
        </div>
    </div>
</div>
